* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(199, 196, 196);
  color: black;
}
.title {
  text-align: center;
  margin-top: 50px;
}
.timer {
  margin: 10px auto;
  display: flex;
  width: 80%;
  justify-content: center;
  border: 1px solid black;
  /*padding: 100%;*/
}
.field {
  width: 30px;
  height: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: pink;
  padding: 20px;
  margin: 30px;
}
.value {
  font-size: 30px;
}*/
